<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<meta>
	<title>Have a good day</title>
</head>
<body>
	<h1>Have a good day</h1>
	
	Create a report
	
	<form th:action="@{/createReport}" method="post">
		<div><label>Name and Surname: <input type="text" name="nameAndSurname" placeholder="Name Surname"></label></div>
		<div><label>Date: <input type="text" name="date" placeholder="dd:mm:yyyy"></label></div>
		<div><label>Work time: <input type="text" name="workTime" placeholder="hh:mm-hh:mm/(hh)"></label></div>
		<div><label>Done: <input type="text" name="thingsDone" placeholder="1. Done thing."></label></div>
		<div><label>To finish: <input type="text" name="thingsToFinish" placeholder="1. Thing to finish."></label></div>
		<div><label>Undone: <input type="text" name="thingsUndone" placeholder="1. Undone thing."></label></div>
		<div><label>Undone: <input type="checkbox" name="weekDuty"></label></div>
		<div><label>Undone: <input type="checkbox" name="holidayDuty"></label></div>
		<div><label>Undone: <input type="checkbox" name="late"></label></div>
		<div><input type="submit" value="Create"/></div>
	</form>
</body>
</html>