<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<meta>
	<title>Have a good day</title>
</head>
<body>
	<h1>Have a good day</h1>
	
	This is report you have created
	
	<div><label>Name and Surname: </label><p th:text="${reportDto.nameAndSurname}">Name and Surname</p></div>
	<div><label>Date:</label><p th:text="${reportDto.date}">Date</p></div>
	<div><label>Work time:</label><p th:text="${reportDto.workTime}">Work time</p></div>
	<div><label>Done:</label><p th:text="${reportDto.thingsDone}">Done</p></div>
	<div><label>To finish:</label><p th:text="${reportDto.thingsToFinish}">To finish</p></div>
	<div><label>Undone:</label><p th:text="${reportDto.thingsUndone}">Undone</p></div>
</body>
</html>